@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

/* Custom utility class to hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .scroll-velocity-vignette {
    position: relative;
    overflow: hidden;
  }

  .scroll-velocity-vignette::before,
  .scroll-velocity-vignette::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 3rem;
    z-index: 100;
    pointer-events: none;
  }
  .scroll-velocity-vignette::before {
    left: 0;
    background: linear-gradient(to right, rgb(29, 29, 29), transparent);
  }

  .scroll-velocity-vignette::after {
    right: 0;
    background: linear-gradient(to left, rgb(29, 29, 29), transparent);
  }


